.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.card {
  height: 260px;
  overflow: hidden;
  margin-top: 6px;
  cursor: pointer;
  transition: 0.4s;
  border-radius: 20px;
}

.card:hover {
  transform: scale(0.96);
  transition: 0.4s;
}

.card-title {
  font-size: 16px;
}

.card-head {
  width: 100%;
  height: 70%;
  overflow: hidden;
}

.list-kategori {
  position: relative;
  margin-top: 40px;
}

.category-active {
  background-color: rgb(24, 24, 24);
  color: white;
}

.btn-checkout {
  width: 100%;
  height: 50px;
  margin-top: 10px;
}

#y {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.total {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.list-pesanan:hover {
  background-color: rgba(243, 243, 243, 0.705);
  cursor: pointer;
  transform: scale(0.98)
}